[submodule "gov-testchain/src/vote-proxy"]
	path = gov-testchain/src/vote-proxy
	url = https://github.com/makerdao/vote-proxy
[submodule "gov-testchain/src/ds-chief"]
	path = gov-testchain/src/ds-chief
	url = https://github.com/dapphub/ds-chief
[submodule "gov-testchain/src/symbolic-voting"]
	path = gov-testchain/src/symbolic-voting
	url = https://github.com/makerdao/symbolic-voting
[submodule "gov-testchain/src/esm"]
	path = gov-testchain/src/esm
	url = git@github.com:makerdao/esm.git
[submodule "gov-testchain/src/dss"]
	path = gov-testchain/src/dss
	url = git@github.com:makerdao/dss.git
